#caja4{ /*#estamos llamando una identificación, así como en python*/
	background: orange;
	/*width: 900px;
	height: 400px;*/
}
/*all print screen*/

/*Estilos para Tablets*/
@media only screen and (min-width: 768px) and (max-width: 940px){
	#caja4{
	/*width: 600px;*/
	background-color: red;	
	}
}

/*Estilo para smrtphones*/
@media only screen and (min-width: 400px) and (max-width: 767px){
	#caja4{
	/*width: 400px;*/
	background-color: green;	
	border: none;
	}
}